@font-face {
    font-family: "bouncy";
    src: url(../fonte/Bouncy-Black-PERSONAL_USE_ONLY.otf);
    src: url(../fonte/Bouncy-PERSONAL_USE_ONLY.otf);
    src: url(../fonte/Bouncy-Thin-PERSONAL_USE_ONLY.otf)

}